body
{
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    font-family: 'fantasy';
}
.Register{
    width: 382px;
    overflow: hidden;
    margin: auto;
    margin: 20 0 0 450px;
    padding: 80px;
    background: #c86464;
    border-radius: 15px ;
}
h2{
    font-size: 50px;
    text-align: center;
    color: #c86464;
    padding: 15px;
}
label{
    color: #FFFDD0;
    font-size: 20px;
}
#username{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}
#firstName{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}
#lastName{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}
#email{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}
#password{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}
#password2{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}

#sub{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: darkblue;
}

span{
    color: white;
    font-size: 17px;
}