{% extends 'base.html' %}

{% block content %}

{% load static %}
<title>Sign Up</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>


<body>
    <h2>Create Account</h2><br>
    <div class="Register">
    <form id="Register" method="get" action="login.php">
        <label><b>User Name</b></label>
            <input type="text" name="Uname" id="username" placeholder="Username">
        <br>
        <label><b>First Name</b></label>
            <input type="text" name="Uname" id="firstName" placeholder="First Name">
        <br>
        <label><b>Last Name</b></label>
            <input type="text" name="Uname" id="lastName" placeholder="Last Name">
        <br>
        <label for="email">Enter your email:</label>
            <input type="email" id="email" name="email" placeholder="abc@gmail.com">
        <br>
        <label><b>Password</b></label>
            <input type="Password" name="Pass" id="password" placeholder="Password">
        <br>
        <label><b>Retype Password</b></label>
            <input type="Password" name="Pass" id="password2" placeholder="Password">
        <br>
        <br>
        <input type="button" name="log" id="sub" value="Submit">
        <br>
        <br>
        <a href="{% url 'login' %}">Login</a>
    </form>
</div>
</body>

{% endblock content %}

