<!DOCTYPE html>
<html>
<head>
<title>Home Page</title>

</head>

<div class="titlebutton">
    <a href="#home"><h1>Recipe App</h1></a>
</div>


<div class="topnav">
    
    <a class="active" href="#home">Home</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
    <div class="topright">
        <a href="#login">Login</a>
        <a href="signup.html">Sign Up</a>
    </div>
    
</div>

<body>

    {% block content %}
    {% endblock content %}



</body>
<footer> </footer>
</html>