{% extends 'base.html' %}

{% block content %}

{% load static %}
<title>Create Account</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>


<body>
     <div class="Register">
    <h2>Create Account</h2><br>
     <form method="post" action="{% url 'register' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Create Account</button>
    <br>
    <br>
    <p>Already have an account? <a href="{% url 'login' %}">Click Here</a></p>
    </form>
    
    </div>
</body>

{% endblock content %}

